<div class="relative">
    <input
        [(ngModel)] = "value" 
        required
        name="value"
        type="password"
        class="peer w-full bg-transparent placeholder:text-slate-400 text-slate-200 text-sm border rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
        (input)="onChange(value); validatePassword()"
    />
    <label
    [ngClass]="{
      '-top-2': value,        
      'text-xs': value,
      'text-slate-50': value,
      'scale-90': value,
      'top-2': !value
    }"
      class="absolute cursor-text bg-slate-800 px-1 left-2.5 text-slate-400 text-sm transition-all transform origin-left peer-focus:-top-2 peer-focus:left-2.5 peer-focus:text-xs peer-focus:text-slate-400 peer-focus:scale-90">
      Password
    </label>
    <ul *ngIf="errors.length" class="mt-2 text-sm text-red-500 font-bold">
      <li>{{ errors[0] }}</li>
    </ul>
  </div>
  