
<app-navbar class="w-full"></app-navbar>

<div class="relative top-[6.5rem]">
  <h1 class="text-center  font-semibold text-3xl text-slate-950 self-start my-2">Welcome back!</h1>
  <p class="text-center text-sm opacity-50 mb-8">Please enter your details </p>
  <div class="w-full flex flex-col justify-center items-center" >
    <form class="w-[280px] flex flex-col justify-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <a mat-button routerLink="/forgot-password" class="opacity-50 text-sm text-end transition-opacity hover:opacity-100">Forgot password?</a>
      <button mat-raised-button class="submit">Login</button>
      <button mat-stroked-button class="submit">
        <div class="flex flex-row gap-2 ">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" />
          <h1 class="">Log in with Google</h1>
        </div>
      </button>
      <a mat-button routerLink="/signup" class="opacity-50 text-sm text-center transition-opacity hover:opacity-100 mt-6">Do not have an account yet? Sign Up</a>
    </form>
  </div>
</div>