
<app-navbar class="w-full"></app-navbar>

<div class="relative top-[6.5rem]">
  <h1 class="text-center  font-semibold text-3xl text-slate-950 self-start my-2">Create an account</h1>
  <p class="text-center text-sm opacity-50 mb-8">Please enter your details </p>
  <div class="w-full flex flex-col justify-center items-center" >
    <form class="w-[280px] flex flex-col justify-center ">
     <div class="flex flex-row gap-2">
      <mat-form-field>
        <mat-label>Select title</mat-label>
        <mat-select>
          <mat-option value="Mr">Mr</mat-option>
          <mat-option value="Mr">Ms</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput required [maxLength]="50">
      </mat-form-field>
     </div>
     
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput required [maxLength]="50">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput required [maxLength]="60">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput [maxLength]="60">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput required>
      </mat-form-field>

      
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput required>
      </mat-form-field>

      
      <div class="flex flex-row gap-2">
        <mat-form-field class="example-full-width">
          <mat-label>Country</mat-label>
          <input matInput required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>ZIP</mat-label>
          <input matInput [maxLength]="60">
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <a mat-button routerLink="/forgot-password" class="opacity-50 text-sm text-end transition-opacity hover:opacity-100">Forgot password?</a>
      <button mat-raised-button class="submit">Accedi</button>
      <button mat-stroked-button class="submit">
        <div class="flex flex-row gap-2 ">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" />
          <h1 class="">Sign up with Google</h1>
        </div>
      </button>
    </form>
  </div>
</div>