<div class="bg-white w-full h-screen flex flex-col absolute inset-0">
    <app-navbar></app-navbar>
    <div class="flex-grow flex flex-col p-5 w-full">
    <h1 class="text-xl font-medium">Your Account</h1>
    
        <div class="flex items-start gap-5 mb-5 mt-5">
            <img src="https://bikeville.s3.cubbit.eu/images/account/userIcon.png" alt="Foto profilo" class=" ml-5 mt-5 w-24 h-24 object-cover rounded-full overflow-hidden border-4 border-black">
            <div>
                <h3 class="ml-5">Name Surname</h3>
                <p class="ml-8 text-sm">Email</p>
                <p class="ml-8 text-sm">Date of birth</p>
                <p class="ml-8 text-sm">Shipping Address</p>
                
                <div class="ml-40">
                  <button class="text-sm bg-gray-200 border-1 border-gray rounded-full px-1 ">Edit Profile</button>
                </div> 
            </div> 
        </div> 
        
        <hr class="mt-3">

        <div class="">
        <div class="mt-5 border-2 rounded-full px-15 py-1 flex items-center justify-between">
            <p class="ml-2">My orders</p>
            <button>
                <img src="https://bikeville.s3.cubbit.eu/images/account/greater-than.png" alt="Foto freccia" class="object-cover h-6 w-6 mr-2">
            </button>
        </div>
        <div class="mt-5 border-2 rounded-full px-15 py-1 flex items-center justify-between">
            <p class="ml-2">Previous orders</p>
            <button>
                <img src="https://bikeville.s3.cubbit.eu/images/account/greater-than.png" alt="Foto freccia" class="object-cover h-6 w-6 mr-2">
            </button>
        </div>
        <div class="mt-5 border-2 rounded-full px-15 py-1 flex items-center justify-between">
            <p class="ml-2">Wishlist</p>
            <button>
                <img src="https://bikeville.s3.cubbit.eu/images/account/greater-than.png" alt="Foto freccia" class="object-cover h-6 w-6 mr-2">
            </button>
        </div>
        <div>
        

        <div class="mt-5 border-2 rounded-full px-15 py-1 flex items-center justify-between">
            <button (click)="toggleDropdown()" id="dropdownButton">
            <p class="ml-2">Customer Support</p>
            </button>
            <img [src]="currentArrow" alt="Foto freccia" class="object-cover h-6 w-6 mr-2"> 
          </div>
          <!-- opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:translate-y-0 transform translate-y-2 transition-all duration-500 ease-in-out -->
        <div *ngIf="isDropdownOpen" id="dropdownMenu" class="px-15 py-3 ml-3 ">
                  <p href="#" class="border-2 rounded-full py-0.5 flex items-center justify-between text pl-3">Call XXX-XXX-XXXXX</p>
                  <a routerLink="/faqs" class="mt-1 border-2 rounded-full py-0.5 flex items-center justify-between pl-3">Check FAQs</a>
          </div>
        
        </div>
     
    </div>
   
</div> 