<app-navbar></app-navbar>
<ng-template #noImage>
  <p class="text-gray-500 text-lg">Immagine non disponibile</p>
</ng-template>

<div *ngIf="product; else noProduct" class="flex flex-col p-6 bg-gray-100 shadow-lg rounded-lg">
  <!-- Immagine grande al centro -->
  <img 
    src="data:image/gif;base64,{{ product.thumbNailPhoto }}" 
    class="w-full h-auto object-cover rounded-lg shadow-md" 
    alt="Product Image"
  />
  <!-- Informazioni del prodotto -->
  <div class="flex-1 text-left my-6 px-4">
    <h1 class="text-5xl font-extrabold text-gray-800 mb-4 shadow-sm">
      {{ product.name || 'Nome non disponibile' }}
    </h1>
    <p class="mt-2 text-lg text-gray-700">
      <strong>Codice Prodotto:</strong> {{ product.productNumber || 'N/A' }}
    </p>
    <p class="mt-2 text-lg text-gray-700">
      <strong>Descrizione:</strong> {{ productDescription?.description || 'Descrizione non disponibile' }}
    </p>

    <!-- Menu a tendina per colore -->
    <div *ngIf="product?.color" class="mt-4">
      <label for="color-select" class="block text-lg font-semibold text-gray-700">Colore:</label>
      <select id="color-select" class="mt-2 p-3 border border-gray-300 rounded-lg shadow-sm w-full focus:ring-2 focus:ring-yellow-500">
        <option [value]="product.color">{{ product.color }}</option>
      </select>
    </div>

    <!-- Menu a tendina per taglia -->
    <div *ngIf="product?.size" class="mt-4">
      <label for="size-select" class="block text-lg font-semibold text-gray-700">Taglia:</label>
      <select id="size-select" class="mt-2 p-3 border border-gray-300 rounded-lg shadow-sm w-full focus:ring-2 focus:ring-yellow-500">
        <option [value]="product.size">{{ product.size }}</option>
      </select>
    </div>

    <!-- Prezzo -->
    <p class="font-bold text-2xl text-yellow-600 mt-3 shadow-sm">
      Prezzo: {{ product.listPrice || 0 | currency }}
    </p>
  </div>

  <!-- Bottone al centro per aggiungere al carrello -->
  <div class="flex justify-center items-center my-6">
    <button
      mat-raised-button
      color="accent"
      class="px-14 py-4 bg-gray-900 text-white text-xl font-semibold rounded-lg shadow-lg hover:bg-yellow-500 hover:text-black transition-all duration-300 flex items-center"
    >
      <mat-icon class="mr-2">add_shopping_cart</mat-icon>
      Aggiungi al carrello
    </button>
  </div>
</div>

<ng-template #noProduct>
  <p class="text-gray-500 text-lg text-center">Dettagli del prodotto non disponibili.</p>
</ng-template>

<!-- Prodotti correlati -->
<div class="related-products my-8" *ngIf="categoryProducts.length > 0">
  <app-product-list
    [homeProducts]="categoryProducts"
    title="Prodotti correlati">
  </app-product-list>
</div>
