<app-navbar></app-navbar>
<ng-template #noImage>
  <p class="text-gray-500 text-lg">Immagine non disponibile</p>
</ng-template>

<div *ngIf="product; else noProduct" class="flex flex-col p-6 bg-gray-50">
  <img src="data:image/gif;base64,{{ product.thumbNailPhoto }}" />

  <!-- Informazioni del prodotto -->
  <div class="flex-1 text-left mb-6">
    <h1 class="text-4xl font-bold">
      <strong>{{ product.name || 'Nome non disponibile' }}</strong>
    </h1>
    <p class="mt-4 text-gray-600"><strong>Codice Prodotto:</strong> {{ product.productNumber || 'N/A' }}</p>
    <p><strong>Descrizione:</strong> {{ productDescription?.description || 'Descrizione non disponibile' }}</p>

    
    <!-- Campo colore come select -->
    <div *ngIf="product?.color" class="mt-4">
      <p class="text-gray-600">
        <strong>Colore:</strong> {{ product.color }}
      </p>
    </div>
    <div *ngIf="!product?.color" class="mt-4">
      <p class="text-gray-600">
        <strong>Colore:</strong> Non disponibile
      </p>
    </div>

    <p class="font-semibold text-lg">
      <strong>Prezzo:</strong> {{ product.listPrice || 0 | currency }}
    </p>
  </div>

  <!-- Bottone al centro per aggiungere al carrello -->
  <div class="flex justify-center items-center">
    <button
      class="px-20 py-3 bg-gray-600 text-white rounded-md hover:bg-yellow-500 hover:text-black transition flex items-center">
      <svg
        class="w-6 h-6 mr-2 fill-current text-white"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z"
          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      Aggiungi al carrello
    </button>
  </div>
</div>

<ng-template #noProduct>
  <p class="text-gray-500 text-lg">Dettagli del prodotto non disponibili.</p>
</ng-template>

<app-product-list [homeProducts]="categoryProducts"></app-product-list>
