<div class="bg-white w-full h-screen absolute inset-0">
  <app-navbar></app-navbar>

  <div class="relative bg-cover bg-center h-1/2"
    style="background-image: url('https://s3.cubbit.eu/bikeville/images/privacypolicy/background.jpg');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white p-8">
      <h1 class="text-4xl sm:text-5xl font-bold leading-tight mb-4">BikeVille Project</h1>
      <p class="text-lg sm:text-xl mb-6">Frase motivazionale buona per marketing</p>
      <a routerLink="/" class="bg-gray-500 hover:bg-gray-800 text-white font-semibold py-2 px-6 rounded-lg">Check out
        our bikes</a>
    </div>
  </div>

  <div class="py-16 bg-white">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl sm:text-4xl font-bold text-center mb-8">About Us</h2>

      <div
        class="flex sm:flex-row flex-col items-center lg:items-start justify-between space-y-8 lg:space-y-0 lg:space-x-8">

        <div class="flex-1 text-center lg:w-1/2 lg:text-left">
          <p class="text-lg text-gray-700 leading-relaxed ">
            Welcome to BikeVille, your go-to shop for all things bikes and cycling gear! Whether you're a seasoned
            cyclist or just getting started, we offer a wide selection of high-quality bikes, accessories, and gear to
            enhance your ride.

            At BikeVille, we pride ourselves on providing reliable products from trusted brands to ensure a smooth and
            enjoyable cycling experience. Our user-friendly online store and dedicated customer service team are here to
            help you find exactly what you need.

            Thank you for choosing BikeVille. Let’s ride together! <br>

            <strong>Your Adventure, Our Passion.</strong> <br>
          </p>
          <div class="flex justify-center items-center flex-col">
            <img class="mt-2 animate-spin w-14 h-14" src="https://bikeville.s3.cubbit.eu/images/about/wheel.png">
            <div class=" h-px w-3/4 bg-black mx-auto my-4 mb-8"></div>
          </div>
        </div>


        <div class="relative flex-1 flex justify-center items-center lg:w-1/2">
          <div class="relative w-64 h-48 ">
            <img src="https://s3.cubbit.eu/bikeville/images/about/about1.jpg"
              class="absolute -top-10 -left-8 md:-top-24 md:left-0  lg:-top-0 lg:-left-14 w-48 h-full object-cover mr-32">
            <img src="https://bikeville.s3.cubbit.eu/images/faq/bigBike.jpg"
              class="absolute top-28 left-24 md:top-16 md:left-24  lg:left-36  w-48 h-full object-cover mr-32">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="relative">
    <div class="absolute inset-0 bg-gradient-to-t from-gray-300 to-white backdrop-blur-md"></div>
    <div class="relative flex items-center justify-center h-full">
      <h2 class="text-3xl sm:text-4xl font-bold text-center mt-12">Our Products</h2>
      <div class="absolute w-3/4 bg-gray-300 my-4"></div>
    </div>
  </div>

  <div class="py-6 bg-gray-300">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

        <div class="bg-white p-6 rounded-lg shadow-lg text-center">
          <div class="flex justify-center items-center mb-4">
            <img src="https://bikeville.s3.cubbit.eu/images/about/bicycle.gif" alt="bike_animation"
              class="items-center justify-center h-20 w-20 lg:h-28 lg:w-28">
          </div>
          <h3 class="text-xl font-semibold mb-2">Bikes</h3>
          <p class="text-gray-700 mb-4">We offer several types of bikes: bikes, mountaint bikes, road bikes and touring
            bikes.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg text-center">
          <div class="flex justify-center items-center mb-4">
            <img src="https://bikeville.s3.cubbit.eu/images/about/water-bottle.gif" alt="water_bottle_animation"
              class="items-center justify-center h-20 w-20 lg:h-28 lg:w-28">
          </div>
          <h3 class="text-xl font-semibold mb-2">Bike accessories</h3>
          <p class="text-gray-700 mb-4">Whenever you need handlerbars, brakes, chains or pedals, we got you. Find every
            kind
            of bike accessory on our shop.
          </p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg text-center">
          <div class="flex justify-center items-center mb-4">
            <img src="https://bikeville.s3.cubbit.eu/images/about/hoodie.gif" alt="hoodie_animation"
              class="items-center justify-center h-20 w-20 lg:h-28 lg:w-28">
          </div>
          <h3 class="text-xl font-semibold mb-2">Clothing</h3>
          <p class="text-gray-700 mb-4">Complete your gear by checking our clothing selection. You'll find caps, gloves,
            tights and much more. </p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg text-center">
          <div class="flex justify-center items-center mb-4">
            <img src="https://bikeville.s3.cubbit.eu/images/about/tire.gif" alt="tire_animation"
              class="items-center justify-center h-20 w-20 lg:h-28 lg:w-28">
          </div>
          <h3 class="text-xl font-semibold mb-2">Maintenance</h3>
          <p class="text-gray-700 mb-4">To keep your bike always ready for a ride you need the right tools. Check our
            maintenance section,
            we offer cleaners, fenders, pumps, tires and more.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="absolute inset-0 bg-gradient-to-t from-gray-500 to-gray-300 backdrop-blur-md"></div>
    <div class="relative flex items-center justify-center h-full">
      <h2 class="text-3xl sm:text-4xl font-bold text-center mt-12 text-white">Environmental footprint</h2>
      <div class="absolute w-3/4 bg-gray-500 my-4"></div>
    </div>
  </div>

  <div class="py-6 lg:py-10 bg-gray-500">
    <div class="container px-4">
      <div class="flex sm:flex-row flex-col items-center lg:items-start justify-between">

        <div class="flex-1 text-center md:w-2/3 lg:text-left">
          <p class="text-lg text-white">
            Nel 2023, l'estrazione delle materie prime e la fabbricazione dei nostri prodotti hanno rappresentato il 74%
            dell'impronta carbonica di DECATHLON. Quindi, è fondamentale puntare prima su questi fattori. Progettando e
            fabbricando i nostri prodotti, possiamo ridurre attivamente il nostro impatto ambientale grazie a delle
            scelte
            strategiche di materiali e di produzione.
          </p>
          <p class="font-bold text-white">Il nostro obiettivo è ridurre l'impatto dei prodotti sull'ambiente per tutto
            il loro ciclo di vita,
            senza rinunciare alle performance.</p>
          <div class="flex justify-center items-center flex-col">
            <div class=" h-px w-3/4 bg-white mx-auto my-12 mb-8"></div>
          </div>
        </div>

        <div class="relative flex-1 flex justify-center items-center md:w-1/3 md:-top-8">
          <div class="relative w-64 h-64 ">
            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-twe-toggle="popover" data-twe-trigger="focus" data-twe-title="Ecodesign" data-twe-content="Ecodesign, which integrates the environment into product development, 
              drives us to innovate and improve continuously.
              In 2023, 38.8% of our sales were generated by ecodesign products.">
              Ecodesign
            </button>

            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-twe-toggle="popover" data-twe-trigger="focus" data-twe-title="Analyse the life cycle of a product"
              data-twe-content="Understanding the impact of our products on the environment is a first fundamental step.
              We look at the life cycle of our products, from design to end-of-life, 
              to see where we can significantly reduce impact.">
              Life cycle of a product
            </button>

            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-twe-toggle="popover" data-twe-trigger="focus" data-twe-title="Materials" data-twe-content="Finding materials with a lower impact on the environment is crucial to reduce our 
              footprint without sacrificing performance.
              We prefer recycled options, and certain organic materials, to minimise our impact, in line 
              with DECATHLON's commitment to sustainable development">
              Materials
            </button>

            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-twe-toggle="popover" data-twe-trigger="focus" data-twe-title="Production process" data-twe-content="Optimising our production processes is crucial to reducing our 
              environmental footprint without sacrificing high quality standards.
              From dyeing methods to coating techniques and the use of different materials, 
              we prefer processes that substantially reduce environmental impact.">
              Production process
            </button>

            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-twe-toggle="popover" data-twe-trigger="focus" data-twe-title="Long-lasting products"
              data-twe-content="In our continuous improvement process, we also integrate the lengthening of the 
              life of our products. Our engineers design products anticipating and managing current wear and tear points.
              By using a rigorous scientific approach to measure the theoretical life of the product and identify 
              potential weaknesses, we give consumers the opportunity to keep their products longer, thus 
              reducing the need to exchange them with others.">
              Long-lasting products
            </button>

            <button type="button"
              class="inline-block rounded px-10 pb-3 pt-3 text-sm font-medium uppercase leading-normal text-white hover:bg-gray-400"
              data-popover-target="popover-right" data-popover-placement="right" data-twe-toggle="popover"
              data-twe-trigger="focus" data-twe-title="Repairability" data-twe-content="By making products repairable, we can make them last longer.
              To make our ecodesign products easier to repair, we design them so that they are easy to 
              disassemble and can be repaired with our spare parts in 80% of cases. 
              All this accompanied by clear documentation.">
              Repairability
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>