@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Work Sans", sans-serif !important;
        height: 100%;   
    }
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}



app-root, app-home, app-search, main {
    height: 100%;
    width: 100%;
}

app-navbar {
    height: 70px;
}

app-slider {
    display: block;
    height: 50vh;
}   