<app-navbar [isSearchPage]="true" [isStackedPage]="true" class="w-full"></app-navbar>
<div class="pl-6 pr-6 mt-3">
    <input placeholder="Search" type="text" class="w-full h-14 rounded-full pl-6 pr-6 bg-[#ECE6F0]">
    <img src="assets/Search.svg" class=" rounded-full pl-6 pr-6 float-right bottom-10 relative">
</div>
<mat-tab-group class="mt-3 w-full h-full pl-5 pr-5">
   
    @for(product of (productsByCategory$ | async); track product[1]){
        <mat-tab label="{{product[0].name}}">
            <div  class="flex flex-row justify-end mt-3 gap-2 mr-5">
                <app-filter (categoriesEmitter)="categoriesEmitter([$event])" [categories]="this.allCategories.get(product[0])"></app-filter>
                <app-order></app-order>
            </div>  
            <app-product-list [productsData]="product[1]" class="mt-5"></app-product-list>
        </mat-tab>
    }
</mat-tab-group>