
<app-navbar class="w-full"></app-navbar>

<div class="relative top-[6.5rem]">
  <h1 class="text-center  font-semibold text-3xl text-slate-950 self-start my-2">Forgot you password?</h1>
  <p class="text-center text-sm opacity-50 mb-8">Enter your email to recieve a reset link</p>
  <div class="w-full flex flex-col justify-center items-center" >
    <form class="w-[280px] flex flex-col justify-center ">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button class="submit">Send email</button>
      <a mat-button routerLink="/login" class="opacity-50 text-sm text-center transition-opacity hover:opacity-100 mt-6">Remeber the password?</a>
   </form>
  </div>
</div>