  <div class="p-10 bg-slate-800 flex flex-col rounded-lg">
      <h1 class=" text-4xl text-slate-50">Cambia Password</h1>
      <form #forgotPassForm="ngForm" (ngSubmit)="onSubmit(forgotPassForm)" class="flex flex-col ">
      <div class="w-full max-w-sm min-w-[200px] mt-7">
          <div class="relative">
            <input
              [(ngModel)] = "email" 
              required
              email
              name="email"
              class="peer w-full bg-transparent placeholder:text-slate-400 text-slate-200 text-sm border border-sl rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
            />
            <label
            [ngClass]="{
              '-top-2.5': email,
              'text-xs' : email,
              'peer-focus': email,
              '-top-2': email,
              'scale-90': email,
              'top-2.5': !email
            }"
            class="absolute cursor-text bg-slate-800 px-1 left-2.5 text-slate-400 text-sm transition-all transform origin-left peer-focus:-top-2 peer-focus:left-2.5 peer-focus:text-xs peer-focus:text-slate-400 peer-focus:scale-90">
              Email
            </label>
          </div>
        </div>
      <button 
      [disabled]="forgotPassForm.invalid"  
      routerLink="/" 
      class="mt-7 mb-5 rounded-md bg-slate-300 py-2 px-4 border border-transparent text-center text-sm text-slate-800 transition-all shadow-md hover:shadow-lg focus:bg-slate-50 focus:shadow-none active:bg-slate-700 hover:bg-slate-50 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Accedi</button>
    </form>
    <a routerLink="/signup" class="text-sm text-center text-slate-600 transition-colors hover:text-slate-300 ">Non hai ancora un account? Registrati</a>
  </div>